
.wrapper-cart {
    background-image: linear-gradient(to right, #d434b0, #8029fc);
    height: calc(100vh - 70px);
}

.form-control {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    margin-bottom: 1rem;
}

.form-control label {
    font-weight: 600;
}

.form-control input {
    width: 95%;
    border: none;
    outline: none;
    padding: .8rem;
    border-radius: 4px;
    background-color: #ededed;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
