.header-logo svg{
    width: 200px;
    margin-bottom: 2rem;
}
.group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0, 0, 0, .15) 1px 1px 10px 0px;
    padding: 1rem 1rem;
    background-color: #3c3c3c;
}

.group-header .group-navigation {
    column-gap: 1rem;
}

.nav-item {
    padding: 10px 12px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

