.admin-wrapper {
    background-image: linear-gradient(to right, #1e1c1d, #696374);
    height: 100%;
}

.container {
    display: flex;
    gap: 20px;
}


.side-bar {
    width: 220px;
    background-image: linear-gradient(to right, #b6abb6, #412e43);
    padding: 20px;
    border-radius: 8px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 20px;
}

.btn-navigation {
    display: block;
    padding: 12px 16px;
    margin-bottom: 10px;
    background: #723db8;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s ease;
}

.btn-navigation:hover {
    background: #5a5f69;
}


.btn-navigation.active {
    background: #241f2a;
    transform: scale(1.03);
    border-left: 5px solid #fff;
}

.content-area {
    flex: 1;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100vh;
    }

    .side-bar {
        width: auto;
        height: auto;
        margin: 0 20px;
        display: flex;
        gap: 10px;
        overflow-x: auto;
        justify-content: space-evenly;
    }

    .content-area {
        margin-top: 20px;
    }
    
}