.group-card {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  height: 100%;
  margin: 1rem 2.5rem;
  vertical-align: top;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image-card {
  border-radius: 5px 5px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.card-container {
  border-radius: 5px;
  background-color: #d888eb;
  padding: 1rem;
}

.card-name {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-to-cart {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.btn-detail {
  background-image: linear-gradient(to right, #d4c734, #8029fc);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  color: lightgray;
}

.btn-cart {
  background-image: linear-gradient(to right, #34d484, #8029fc);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-bottom: 32px;
}

.pagination li a {
  background-image: linear-gradient(to right, #c7d434, #5a29fc);
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid gray;
  color: black;
  margin: 0 4px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.pagination li a:hover {
  background-image: linear-gradient(to right, #d434b0, #8029fc);
  color: white;
}

.pagination li a.active {
  background-image: linear-gradient(to right, #d434b0, #8029fc);
  color: white;
  cursor: default;
}


.pagination li a:not(.active):hover {
  background-color: #e2e6ea;
}


.pagination li a.disabled {
  pointer-events: none;
  opacity: 0.4;
  cursor: default;
}

.filter-container {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  justify-content: center;
}

.filter-container input,
.filter-container select {
  margin: 10px;
  padding: 8px;
  border: 1px solid #ccc;
}

.filter-container input {
  width: 500px;
}

.filter-container input:focus,
.filter-container select:focus {
  outline: none;
  border: 3px solid transparent;
  border-image: linear-gradient(to right, #bea205e7, #fc5029);
  border-image-slice: 1;
}



@media (max-width: 1200px) {
  .card {
    width: 25%;
  }

  .btn-detail,
  .btn-cart {
    padding: 0.4rem;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 45%;
    margin: 1rem 0.5rem;
  }
}