<div class="title-product">
  <div class="filter-container">
    <input type="text" placeholder="Tìm theo tên hoặc giá..." [(ngModel)]="searchText" (input)="applyFilters()" />


    <select [(ngModel)]="sortOption" (change)="applyFilters()">
      <option value="">-- Sắp xếp --</option>
      <option value="name-asc">Tên A → Z</option>
      <option value="name-desc">Tên Z → A</option>
      <option value="price-asc">Giá tăng dần</option>
      <option value="price-desc">Giá giảm dần</option>
    </select>

  </div>
  <div class="group-card">
    @for (product of paginatedProducts; track product.id) {
    <div class="card">
      <div class="card-container">
        <a href="/detail/{{product.id}}">
          <img class="image-card" src="{{ product.image }}" alt="{{ product.name }}" />
        </a>
        <div class="card-name">{{ product.name| upperCasePipe }}</div>
        <div class="card-price">{{ product.price| currencyPipe }}</div>
        <div class="add-to-cart">
          <a href="/detail/{{product.id}}" class="btn-detail">View Detail</a>
          <a (click)="handleAddToCart(product)" class="btn-cart">Add to cart</a>
        </div>
      </div>
    </div>
    }
  </div>
  <ul class="pagination">
    <li><a (click)="changePage(currentPage - 1)">&laquo;</a></li>

    @for (page of pages; track page) {
    <li>
      <a (click)="changePage(page)" [class.active]="currentPage === page">
        {{ page }}
      </a>
    </li>
    }

    <li><a (click)="changePage(currentPage + 1)">&raquo;</a></li>
  </ul>
</div>