.wrapper-cart {
    background-image: linear-gradient(to right, #d434b0, #8029fc);
    height: calc(100vh - 70px);
}

.detail-content {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}

.img-detail {
   border: 10px solid #ee79e7;
   border-radius: 10px;
   width: 500px;
   height: 500px;
}
.product-info h3 {
    margin: 1rem 0;
    font-size: 24px;
    font-weight: 600;
}

.product-info h4 {
    font-size: 18px;
    line-height: 1.6;
}

.btn-add-to-cart {
    background-color: #d434b0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    margin: 2rem 0;
}

.btn-add-to-cart:hover {
    background-color: #bf2fa3;
}

@media (max-width: 768px) {
    .detail-content {
        flex-direction: column;
        align-items: center;
    }

    .img-detail {
        width: 300px;
        height: 300px;
    }
    
}