.wrapper-detail {
    background-image: linear-gradient(to right, #d434b0, #8029fc);
    min-height: 100vh;
}

.detail-content {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}

.image-slide {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1rem 1rem;
}

.image-slide img {
    width: 100px;
    height: 100px;
    border: 4px solid #ee79e7;
    border-radius: 8px;
    cursor: pointer;
}

.image-slide img:hover {
    border: 4px solid #7e0eff;
}

.img-detail {
    border: 10px solid #ee79e7;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}

.product-info h3 {
    margin: 1rem 0;
    font-size: 24px;
    font-weight: 600;
}

.product-info h4 {
    font-size: 24px;
    line-height: 1.6;
}

.demo {
    font-size: 5em;
}



.btn-add-to-cart {
    background-color: #d434b0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    margin: 2rem 0;
}

.btn-add-to-cart:hover {
    background-color: #bf2fa3;
}

.comment-block {
    margin: 0 7rem;
}

@media (max-width: 1200px) {
    .detail-content {
        flex-direction: column;
        align-items: center;
    }

    .img-detail {
        width: 300px;
        height: 300px;
    }
}