.comment-container {

    padding: 15px;
    margin-top: 20px;
    border-top: 1px solid;
    border-image: linear-gradient(to right, #fc2f07, #2942fc) 1;
}

.comment-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fe1a5e;
    color: #fff;
    align-items: center;
}

.comment-input {
    width: 98%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
 
.send-button {
   margin-top: 10px; 
   padding: 10px 20px; 
   background-color: #6c34d4; 
   color: white; border: none; 
   border-radius: 4px; 
   cursor: pointer; 
   font-weight: 600;
}
.send-button:hover {
    background-color: #5a28b8;
}

.col-1 {
    flex: 0.2;
}

.content {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 14px;
  line-height: 1.5;
}

.see-more {
  color: #007bff;
  cursor: pointer;
  margin-left: 5px;
}


.col-2 {
    flex: 1;
}

.col-3 {
    flex: 0.3;
}

.btn-edit,
.btn-delete {
    color: #fff;
    border: none;
    padding: 5px 8px;
    margin: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.btn-edit {
    background-color: #2942fc;
}

.btn-edit:hover,
.btn-delete:hover {
    opacity: 0.8;
}

.btn-delete {
    background-color: #fc2f07;
}

.btn-save {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 8px;
    margin: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.edit-comment {
    width: 90%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.btn-save:hover,
.btn-cancel:hover {
    opacity: 0.8;
}

textarea {
    resize: vertical; 
    overflow-x: hidden;
}

.btn-cancel {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 5px 8px;
    margin: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}


@media (max-width: 768px) {
    .comment-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .col-1,
    .col-2,
    .col-3 {
        flex: none;
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-edit,
    .btn-delete,
    .btn-save,
    .btn-cancel {
        font-size: 14px;
        padding: 8px 12px;
    }
    
}