
.form-control {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    margin-bottom: 1rem;
}

.form-control label {
    font-weight: 600;
}

.form-control input {
    width: 93%;
    border: none;
    outline: none;
    padding: .8rem;
    border-radius: 4px;
    background-color: #ededed;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.group-cart {
    width: 75%;
    background: #fff;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-cart {
    display: flex;
    padding: 1rem;
    background: #e2e2e2;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 1.5;
}

.col-3 {
    flex: 1;
}

.col-4 {
    display: flex;
    flex: .5;
}

.body-cart {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.row-cart {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 1rem;
}

.btn-edit {
    background-image: linear-gradient(to right, #d4c434, #8029fc);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    width: 40px;
    margin: 2px;
    color: #fff;
}

.btn-delete {
    background-image: linear-gradient(to right, #d434b0, #ef4667);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    width: 40px;
    margin: 2px;
    color: #fff;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #fff;
    padding: 1.5rem;
    width: 350px;
    border-radius: 10px;
    animation: popupShow .25s ease;
}

@keyframes popupShow {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.error {
    color: red;
    font-size: 13px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-cancel {
    background: #ccc;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn-create {
    background-image: linear-gradient(to right, #d434b0, #8029fc);
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-open {
    width: fit-content;
    margin: 1rem 8.3rem;
    padding: 0.6rem 1rem;
    background-image: linear-gradient(to right, #34d48f, #8029fc);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.inline-input {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #aaa;
}

.btn-save {
    color: #fff;
    background: #38c172;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    width: 40px;
    margin: 2px;
}

.btn-cancel {
    color: #fff;
    background: #e3342f;
    padding: 0 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    margin: 2px;
}